
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
table, th, td {
padding: 35px;
}
table {
border-spacing: 35px;
}
</style>
<div id="content">
    <div class="content-wrapper">
        <div class="container">
            <ol id="breadcrumb" class="breadcrumb">
                <li><a href="/" title="Trang ch?">Trang chủ</a></li>
                <li><a href="/" title="Giới thiệu">Giới thiệu</a></li>

            </ol>
            <div class="row">
                <div class="col-md-12 col-xs-12 pull-right">
                    <div class="main-content">
                        <p style="line-height: 1.6; margin-bottom: 30px; text-align: center;"><strong style="color: rgb(128, 0, 128); text-align: center;"><span style="font-family: Arial; font-size: 14px; text-align: justify;">GIỚI THIỆU TCT ENGLISH</span></strong></p>
                        <table>
                            <tr>
                                <td>
                                    <p style="line-height: 1.6; margin-bottom: 30px; text-align: center;"> <img src="~/Content/images/logo.png" width="700px" height="450px"/> </p>
                                </td> 
                                <td>
                                    <p style="line-height: 1.6;text-align: justify;margin-bottom: 30px"><span style="color: rgb(17, 17, 17); font-family: Arial; font-size: 14px; text-align: justify;">TCT được tạo ra mới đây với mục tiêu dạy học và cung cấp hệ thống giáo trình tiêu chuẩn, các chương trình học tập tiếng Anh hiệu quả. Từ đó tạo ra môi trường học tập Tiếng Anh toàn diện nhất cho trẻ em.</span></p>

                                    <p style="line-height: 1.6;text-align: justify;margin-bottom: 30px"><span style="color: rgb(17, 17, 17); font-family: Arial; font-size: 14px; text-align: justify;">Hệ thống các bài học của chúng tôi bao gồm: </span></p>

                                    <p style="line-height: 1.6;text-align: justify;margin-bottom: 30px"><span style="color: rgb(17, 17, 17); font-family: Arial; font-size: 14px; text-align: justify;">- Học qua hình ảnh</span></p>

                                    <p style="line-height: 1.6;text-align: justify;margin-bottom: 30px"><span style="color: rgb(17, 17, 17); font-family: Arial; font-size: 14px;">- Học qua các video bài hát thú vị và dễ thuộc</span></p>

                                    <p style="line-height: 1.6;text-align: justify;margin-bottom: 30px"><span style="color: rgb(17, 17, 17); font-family: Arial; font-size: 14px; text-align: justify;">- Học qua các video với animation dễ thương và gần gũi với trẻ em</span></p>
                                </td>
                            </tr>
                        </table>
                        



                        <p style="line-height: 1.6; margin-bottom: 30px; text-align: center;"><span style="color:#800080;"><strong><span style="font-family: Arial; font-size: 14px; text-align: justify;">CHÀO MỪNG ĐẾN VỚI TCT</span></strong></span></p>

                        <p style="line-height: 1.6; margin-bottom: 30px; text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/LnQh4PWTAok" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <section id="tinh-nang-vuot-troi" class="section py-5">
                            <p style="line-height: 1.6; margin-bottom: 30px; text-align: center;"><strong style="color: rgb(128, 0, 128); text-align: center;"><span style="font-family: Arial; font-size: 14px; text-align: justify;">ĐIỂM VƯỢT TRỘI CỦA TCT</span></strong></p>
                            <table>
                                <tr>
                                    <td>
                                        <h3 class="h4 mb-3 text-danger font-weight-bold text-uppercase">Học 1:1 tăng thời lượng giao tiếp lên 4 lần</h3>

                                        <img src="~/Content/images/2.png" class="w-100 h-auto"/>

                                        <p class="mb-0">Mô hình lớp học 1-1 của TCT cho phép trẻ học tiếng Anh như tiếng mẹ đẻ. 25 phút tương tác liên tục cùng giáo viên giúp tối ưu hoá thời lượng giao tiếp với giáo viên gấp 4 lần so với mô hình học truyền thống.</p>

                                    </td>
                                    <td>
                                        <h3 class="h4 mb-3 text-danger font-weight-bold text-uppercase">Tự do lựa chọn Giáo viên chất lượng cao</h3>

                                        <img src="~/Content/images/cc-3.png" class="w-100 h-auto" width="550px" height="400px" />
                                        <div class="card-body p-4">
                                            <div class="p-2">

                                                <p class="mb-0">
                                                    Cha mẹ được thỏa thích lựa chọn giáo viên có phong thái giảng dạy phù hợp với tính cách của con mình. Tất cả giáo viên trình độ cao từ Bắc Mỹ có chứng chỉ TEFL, TESOL và phải vượt qua vòng tuyển với tỷ lệ dưới 10%
                                                </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3 class="h4 mb-3 text-danger font-weight-bold text-uppercase">TIẾT KIỆM 2 GIỜ ĐƯA ĐÓN MỖI BUỔI HỌC</h3>
                                        <img src="~/Content/images/cc-1.png" class="w-100 h-auto" width="550px" height="400px" />

                                        <p class="mb-0">Tiết kiệm được 2 tiếng đưa đón mỗi buổi học, bố mẹ vẫn yên tâm theo dõi trực tiếp việc học tập của con cái mà không phải lo đi lại khi tắc đường ô nhiễm, ảnh hưởng tới sức khoẻ gia đình.</p>
                                    </td>
                                    <td>
                                        <h3 class="h4 mb-3 text-danger font-weight-bold text-uppercase">An tâm nhìn con tiến bộ hàng ngày</h3>
                                        <p class="mb-0">


                                            <img src="~/Content/images/cc-2.png" class="w-100 h-auto" width="550px" height="400px" />
                                            Bố mẹ quan sát và cảm nhận được tiến bộ của con hàng ngày qua Hệ thống báo cáo học tập sau từng buổi học với 30 tiêu chí đánh giá tiến bộ và hứng thú của bé và video ghi hình từng buổi học
                                    </td>
                            </table>
                        </section>
                        @*<div class="tab-title">
                            <ul>
                                <li class="active"><a href="#tab-1" data-toggle="tab">Thông tin liên hệ</a></li>
                            </ul>
                        </div>*@
                        @*<div class="tab-content">*@
                                @*<table>
                                    <tbody>
                                        <tr>
                                            <td style="padding: 10px 5px;padding-left: 0"><b>Tên của chúng tôi:</b></td>
                                            <td>TCT tiếng anh cho trẻ em</td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 10px 5px;padding-left: 0"><b>Trụ sở chính</b></td>
                                            <td>Không có trụ sở chính bởi chúng tôi chỉ dạy học online trên website</td>
                                        </tr>*@
                                        @*<tr>
                                            <td style="padding: 10px 5px;padding-left: 0"><b>Tel:</b></td>
                                            <td>03xxxxxxxxx</td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 10px 5px;padding-left: 0"><b>Hotline:</b></td>
                                            <td>09 xxx xxx</td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 10px 5px;padding-left: 0"><b>Fax:</b></td>
                                            <td>Hiện chưa cập nhật</td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 10px 5px;padding-left: 0"><b>Email:</b></td>
                                            <td>TCTenglish@gmail.com</td>
                                        </tr>*@
                                        @*<tr>
                                            <td style="padding: 10px 5px;padding-left: 0"><b>Website:</b></td>
                                            <td>TCTtienganhchotreem.somsee.com</td>
                                        </tr>
                                    </tbody>
                                </table>*@
                        @*</div>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

