
@{
    ViewBag.Title = "KienThuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="content-wrapper">
        <div class="container">
            <ol id="breadcrumb" class="breadcrumb">
                <li><a href="/" title="Trang chủ">Trang chủ</a></li>
                <li class="active"><a href="/Home/KIenThuc" title="KIẾN THỨC V&#192; KINH NGHIỆM">KIẾN THỨC V&#192; KINH NGHIỆM</a></li>
            </ol>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="main-content">
                        <h1>KIẾN THỨC V&#192; KINH NGHIỆM</h1>
                        <div class="news-list" id="listing_ajax_container">
                            <div class="news">
                                <div class="img">
                                    <img src="~/Content/HTML/resources/img/20170105104254_20161121151506_course1.png" />
                                </div>
                                <div class="desc">
                                    <h3>Cho trẻ tiếp xúc với tiếng anh từ sớm sẽ giúp trẻ không phải bỡ ngỡ sau này<br /> Trang bị cho trẻ hành trang kiến thức cần thiết ngay từ bước đầu</h3>
                                    <div class="short-desc">
                                        <p>      </p>
                                    </div>
                                    <p class="btn-detail">Bước khởi đầu tốt, sẽ tạo nền m&#243;ng cho sự ph&#225;t triển về sau</a>
                                </div>
                            </div>
                            <div class="news">
                                <div class="img">
                                        <img src="~/Content/HTML/resources/img/20170105105857_7-9.png" />
                                </div>
                                <div class="desc">
                                    <p>Học tiếng anh online giúp trẻ có thể học bất cứ khi nào và bất cứ đâu. Phụ huynh còn có thể học chung với trẻ và dễ dàng quản lí</p>
                                    <div class="short-desc">
                                      <p>       </p> 
                                    </div>
                                    <a href="/" title="N&#234;n hay kh&#244;ng cho trẻ em tham gia c&#225;c kh&#243;a học tiếng anh h&#232;?" class="btn-detail">N&#234;n hay kh&#244;ng cho trẻ em tham gia c&#225;c kh&#243;a học tiếng anh online?</a>
                                </div>
                            </div>
                            <div class="news">
                                <div class="img">
                                    <img src="~/Content/HTML/resources/img/20170105135309_untitled-3.jpg" />
                                </div>
                                <div class="desc">
                                    <h3>Để trẻ em học  tiếng Anh tốt nhất</h3>
                                    <p>Tuy chúng tôi là những người trẻ tuổi nhưng chính vì vậy chúng tôi hiểu được điều gì là đơn giản và tốt nhất<br /> Chúng tôi lựa chọn các bài học thật dễ dàng và hấp dẫn với trẻ</p>
                                    <div class="short-desc">
                                        
                                    </div>
                                    <p class="btn-detail">Kinh nghiệm trong việc học tiếng anh</a>
                                </div>
                            </div>


                            <script type="text/javascript">

                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="content-wrapper">
        <div class="container">
            <ol id="breadcrumb" class="breadcrumb">
                <li><a href="/" title="Trang chủ">Trang chủ</a></li>

                <li class="active" id="cauhoi"><a name="cauhoi" title="C&#193;C C&#194;U H?I THU?NG G?P">CÁC CÂU HỎI THƯỜNG GẶP</a></li>
            </ol>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="main-content">
                        <h1>CÂU HỎI THƯỜNG GẶP</h1>
                        <div class="panel-group" id="why-choose">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#why-choose" href="#why-choose-1" aria-expanded="true">Tôi muốn cho con học thử thì phải làm sao?</a>
                                    </h4>
                                </div>
                                <div id="why-choose-1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align: justify;">Phụ huynh chỉ cần chọn đăng kí ở trên trang web của chúng tôi là hoàn toàn có thể cho trẻ tham gia học</p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#why-choose" href="#why-choose-2" aria-expanded="">Các bài học Tiếng anh cho trẻ em tại TCT được sắp xếp như thế nào?</a>
                                    </h4>
                                </div>
                                <div id="why-choose-2" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <p style="text-align: justify;">Các bài học của chúng tôi được sắp xếp theo các chủ đề. Giúp trẻ dễ dàng hiểu và tiếp thu bài học một cách thân thuộc nhất</p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#why-choose" href="#why-choose-4" aria-expanded="">Làm sao để nắm bắt được thông tin về quá trình học tập hàng ngày của con?</a>
                                    </h4>
                                </div>
                                <div id="why-choose-4" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <p style="text-align: justify;">Như chúng tôi đã đề cập, việc học của trẻ hoàn toàn là online. Phụ huynh có thể học chung với trẻ. Để nâng cao sự hài lòng của phụ huynh chúng tôi quyết định thêm vào các bài kiểm tra để phụ huynh có thể nắm rõ tình hình học tập của bé thật khách quan </p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#why-choose" href="#why-choose-5" aria-expanded="">Chương trình tiếng anh online của TCT chỉ dành cho trẻ em lớp 3 thôi sao?</a>
                                    </h4>
                                </div>
                                <div id="why-choose-5" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <p style="text-align: justify;">Đúng là chương trình của chúng tôi dành cho các em lớp 3. Bởi chúng tôi được biết theo bộ giáo dục trẻ em từ lớp 3 bắt đầu học tiếng anh nên chắc hẳn việc bổ sung kiến thức cho trẻ là rất cần thiết. Nhưng dù con bạn lớn hơn hay nhỏ hơn đều có thể tham gia khóa học, bởi nó không phải là các kiến thức khô khan hay bắt buộc như trong sách giáo khoa mà là những bài học mở thân thuộc với cuộc sống thường ngày</p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#why-choose" href="#why-choose-6" aria-expanded="">Nếu tôi đăng kí xong nhưng sau một thời gian mới cho trẻ học liệu có sao không? </a>
                                    </h4>
                                </div>
                                <div id="why-choose-6" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <p style="text-align: justify;">Hoàn toàn không sao. Chỉ cần đăng kí là phụ huynh có thể cho trẻ học bất cứ khi nào. Các bài học luôn được cập nhật và kiểm tra nên phụ huynh không cần lo trẻ bị hổng kiến thức vì học sau hay bị dồn quá nhiều kiến thức</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


